.remove-medicine {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .remove-medicine label {
    margin-right: 10px;
  }
  
  .remove-medicine input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .remove-medicine button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-medicine button:hover {
    background-color: #3e8e41;
  }
  
  .remove-medicine p {
    margin: 20px;
    font-weight: bold;
  }